<div class="grid_9 query_header cop alpha"> 
    <div class="grid_5 push_2 head">
    <h3> {{ cop.badge }}</h3>
    <p> {% if cop.force %} Works for 
      <a href="/incident/force/{{cop.force.badge}}"> {{cop.force}}
      </a> Police {% endif %} </p>
    </div>
  <div class="grid_4 graph alpha">
  {{graph}}
  </div>
    <ul class="grid_3 omega summary">
      <li>
        <span class="grid_1 alpha key">Name:</span>
        <span class="grid_2 omega value">{{ cop.name }} </span>
      </li>
      <li>
        <span class="grid_1 alpha key">Badge:</span>
        <span class="grid_2 omega value">{{ cop.badge }} </span>
      </li>   
    </ul>  
</div>
