{% load static %}

<HTML>
  <HEAD>
    <link rel="stylesheet" href="{% get_static_prefix %}css/960_12_col.css">
    <link rel="stylesheet" href="{% get_static_prefix %}css/mycss.css">
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/notes.js"></script>
    {% block extra_script %}
    <script type="text/javascript">
    var xmlhttp;
    if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
      xmlhttp=new XMLHttpRequest();
      }
    else
      {//code for IE6, IE5
      xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
		var n = 1;
    function returnCopForm(xmlhttp)
    {
    var cop_string = document.getElementById("id_cop_string").value;
    xmlhttp.onreadystatechange=function()
    	{
    	if (xmlhttp.readyState==4 && xmlhttp.status==200)
    		{
    		document.getElementById("cop_form").innerHTML=xmlhttp.responseText;
    		document.getElementById("cop_form").style.display = "block";
    		}
    	}
    xmlhttp.open("Get", "/incident/copform/"+cop_string, true);
    xmlhttp.send();	
    }
    
    
    function saveCop(xmlhttp, badge) {
    var force=document.getElementById('id_force_'+ badge).value;
    var name=document.getElementById('id_name_'+badge).value;
    var copAttributes = escape(badge) + ';'+escape(force) + ';'+ escape(name);
       
    xmlhttp.onreadystatechange=function() {
    	if (xmlhttp.readyState==4 && xmlhttp.status==200)
    		{
    		document.getElementById("copform_"+badge).innerHTML=xmlhttp.responseText;
    		}
    	}

    xmlhttp.open("get", "/incident/copsave/"+copAttributes, true);
    xmlhttp.send()
    }
    function returnQueryBox(badge,xmlhttp)
    {
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        document.getElementById("side_query_box").innerHTML=xmlhttp.responseText;
        }
      }    
    
    xmlhttp.open("Get", "/incident/copbox" + badge, true);
    xmlhttp.send();
    }
    
    function addImages() {
    	document.getElementById('sidebar').style.display = 'block';
    	}
    function hide_forms(n)	{
    	document.getElementById('cop_form').style.display = 'none';
    	for (n=1;n<=4;n++)
    	{
    	document.getElementById('image_form_'+n).style.display = 'none';
    	}
    	}
    	
    function add_images(n) {
    	if (n == 1) {
    		document.getElementById('image_button').value = 'Add More Images'
    		}
    	document.getElementById('image_form').style.display = 'inline';
    	document.getElementById('image_form_'+ n).style.display = 'inline';
    	window.n = n +1;
    }
    function yesterday(){
    	var date = new Date;
    	var day = date.getDate()-1;
    	var month = date.getMonth()+1;
    	var year = date.getFullYear();
    	var yesterday = day + '/' + month + '/' + year;
    	document.getElementById('id_incident-date').value = yesterday; 
    }
    function today(){
			var date = new Date;
    	var day = date.getDate();
    	var month = date.getMonth()+1;
    	var year = date.getFullYear();
    	var today = day + '/' + month + '/' + year;
    	document.getElementById('id_incident-date').value = today; 
    }
    window.onload = hide_forms;
    
    </script>
    {% endblock %}
      <TITLE>
      CopWatch | {% block title %}{% endblock %}
      </TITLE>
  </HEAD>

  <BODY>
    <div class="container_12">
      <div class="grid_12 header">
        <h1> CopWatch </h1>
      </div>
      <div class="grid_12 menu">
        <ul>
          <li class="grid_3 menu_item alpha"> <a href='/incident/recent' title="View">View Incidents</a></li> 
          <li class="grid_3 menu_item"> <a href='/about/' title="About">About</a></li>
          <li class="grid_3 menu_item"> <a href='/incident/new/' title="Publish">Publish</a></li>
          <li class="grid_3 menu_item omega"> <a href=# title="Contact">Contact</a></li>
        </ul>
      </div> 
      {% block pagination-top %}
      {% endblock %}
      <div class="grid_8  content">
        {% block query_header %}
	      {% endblock %}
	      
	      {%block content %}
	      {% endblock %}
	    </div>  
	    
      <div class="grid_4 sidebar omega">
      
      {% block searchbar %}
        <div class="grid_4 searchbar omega">      
	        <form class="search" action="/incident/cop" method="get">
	          <label for="cop_search"> Search Incidents by Badge Number</label>
		        <input type="text" name="q" id="cop_search">      
		        <input type="submit" value="Search">
	        </form>	      	
	        <form class="search" action="/incident/force" method="get">
	          <label for="cop_search"> Search Incidents by Police Force</label>
		        <input type="text" name="q" id="cop_search">      
		        <input type="submit" value="Search">
	        </form>	       
	      </div>
	      {% endblock %}
	      
	      
	      
	      <div class="grid_4 side_query_box alpha omega" id="side_query_box">
	      {% block side_query_box %}
	      {% endblock %}
	      </div>
	      </div>	      

        
        
    
      {% block pagination-bottom %}
      {% endblock %}
      <div class="grid_12 footer"><p> thank you for enjoying my website.</p> </div>
    </div>
  </BODY>
</HTML>
