{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
{% if query_header %}
<div class="grid_9 query_header alpha">
  <h3> {{ query.badge }} {% if query.name %}, {{query.name}} {% endif %}</h3>
  {% if query.class == Cop %}
    <p> {% if query.force %} works for <a href="/incident/force/{{query.force.badge}}"> {{query.force}}</a> Police {% endif %} </p>
  {% endif %}
  {% for event, tally in events %}
  <p> {{event}} : {{tally}} </p>
  {% endfor %}
</div>
{% else %}
<p> {{query}} </p>
{% endif %}

<ul class="grid_9 incident_list alpha">
{% for incident in incident_list.object_list %}
  <div class="grid_7 incident alpha ">
    <div class="grid_2 alpha image">
      <a href="/{{ incident.image }}"><img src="/{{incident.image}}" ></img></a>
    </div>
    <h3>{{ incident.event }} involving {% for cop in incident.cop.all %} <a href="/incident/cop/{{ cop }}"> {{cop}} </a>,{% endfor %}</h3>
    <p class="time">{{incident.time}}, {{ incident.date }} <p>
    <hr/>
    <p> {{incident.notes}}</p>
  </div>
{% endfor %}
</ul>
{% endblock %}	

{% block pagination-top %}
<div class="grid_12 pagination ">
    <span class="step-links">
        {% if incident_list.has_previous %}
            <a href="?page={{ incident_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ incident_list.number }} of {{ incident_list.paginator.num_pages }}
        </span>

        {% if incident_list.has_next %}
            <a href="?page={{ incident_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block pagination-bottom %}
<div class="grid_12 pagination ">
    <span class="step-links">
        {% if incident_list.has_previous %}
            <a href="?page={{ incident_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            page {{ incident_list.number }} of {{ incident_list.paginator.num_pages }}
        </span>

        {% if incident_list.has_next %}
            <a href="?page={{ incident_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
