{% extends "base.html" %}
{% block title %} Report Incident {% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <div class="grid_8 alpha omega incident_form">
      <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="grid_8 field alpha omega event">
            {% if form.event.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.event.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              <label for="id_event">Type of Incident:</label>
              {{ form.event }}
            </div>
            <div class="grid_4 info omega">
              <p>Select incident type from drop-down box.</p>
            </div>
          </div>
          <div class="grid_8 field alpha omega date">
            {% if form.date.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.date.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              <label for="id_date">Date of incident:</label>
              {{ form.date }}
            </div>
            <div class="grid_4 info omega">
              
              <p>Insert date in format DD/MM/YYYY</p>
            </div>
          </div>
          <div class="grid_8 field alpha omega time">
            {% if form.time.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.time.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              <label for="id_time">Time of Incident:</label>
              {{ form.time }}
            </div>
            <div class="grid_4 info omega">
              
              <p>Input the time at which the incident started </p>
            </div>
          </div>
          <div class="grid_8 field alpha omega loc">
            {% if form.loc.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.loc.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              <label for="id_loc">Location:</label>
              {{ form.loc }}
            </div>
            <div class="grid_4 info omega">
              
              <p>Input location of incident</p>
            </div>
          </div>
          <div class="grid_8 field alpha omega notes">
            {% if form.notes.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.notes.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              
              <label for="id_notes">Notes:</label>
              {{ form.notes }}
            </div>
            <div class="grid_4 info omega">
              
              <p>Write a summary of the incident. Be as specific as possible. (but please, no names or information which could identify anybody involved who was not a memebr of the police force!)</p>
            </div>
          </div>
          <div class="grid_8 field alpha omega cop">
            
            {% if form.cop.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.cop.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
              <label for="id_cop">Cop:</label>
              {{ form.cop }}
            </div>
            <div class="grid_4 info omega">
              
              <p>Enter badge numbers of police officers, seperated by commas (ie. 'GD102, GD104)</p>
            </div>
          </div>
          <div id="copform" class="cop_form_outer grid_4 alpha">
          </div>
          <div class="grid_8 field alpha omega">
            
            {% if form.image.errors %}
                <div class="grid_6 alpha errorbox">
                  {{form.image.errors}}
                </div>
            {% endif %}
            <div class="grid_4 alpha box">
             <input type="button" name="add images?" value="Add images" id="add_images" onClick="addImages()" >
            </div>
            <div class="grid_4 info omega">
              
              <p>Add images relating to the incident. Please block out faces and identifiable features of anyone not working for the police or associated bodies.</p>
            </div>
            <div id="image_test" style="display: none;">
            {{imagesform}}
            </div>
          </div>
          <div class="grid_8 input alpha omega">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
    
{% endblock %}
